.background-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-main{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin-top: 200px;
    border: 10px #969191 solid;
  }
  .background-h1{
    color: #ffffff;
    font-size: 50px;
    margin-left: 50px;
  }
  .background-p{
    color: #ffffff;
    font-size: 15px;
    margin-left: 50px;
  }
  .background-select{
    width: 70%;
    font-size: 20px;
    margin-left: 50px;
  }